*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
hr{
    margin: 5% 0 5% 0;
}
button{
    border: 1px solid transparent;
}
.logo img{
    height: 35px;
    width: 35px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(211, 211, 211);
}
.user{
    display: flex;
    gap: 20px;
    
}
.user-logo{
    line-height: 48.6px;
}
.user-logo:hover{
    cursor: pointer;
}
.user-logo a:hover{
    color: rgb(255, 255, 255);
}
.user-logo:hover .tools{
    cursor: pointer;
    display: block;
}

.tools{
    position: absolute;
    right:  10px;
    display: none;
}
.tools li{
    background-color: white;
    padding: 8px 16px;
}
.tools li:hover{
    background-color: rgb(164, 164, 164);
}
header .user .cart:hover{
    cursor: pointer;
}
.listCart {
    position: absolute;
    right:  10px;
    display: none;
    font-size: 15px;
}
.listCart li{
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 8px 16px;
}
.listCart li div{

}
.listCart li div img{
    height: 60px;
    width: 45px;
}
.listCart li:hover{
    background-color: rgb(164, 164, 164);
}
.cart:hover .listCart{
    cursor: pointer;
    display: block;
}
.itemInCart{
    position: absolute;
    top: 15px;
    background-color: red;
    height: 15px;
    width: 15px;
    font-size: 12px;
    color: white;
    line-height: 15px;
    font-weight: 600;
    right: 15px;
    border: 1px solid white;
    text-align: center;
    border-radius: 50%;
}
.hide{
    display: none;
}
.searchBar{
    line-height: 48.6px;
}
.searchBar input{
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
}
.user .material-symbols-outlined{
    line-height: 48.6px;
}
.material-symbols-outlined:hover{
    color: rgb(195, 195, 195);
}

.suggestionBar {
    display: flex;
    gap: 10px;
    margin:1% 0 1% 10% ;

}

.page{
    background-color: rgb(245, 245, 245);
}
main{
    margin-top: 50px;
}
main table{
    width: 90%;
    margin-left: 5%;
    border: 1px solid transparent;
}
main table thead tr th{
    background-color: black;
    color: white;
    font-weight: 600;
    border: 1px;
}
main table tbody tr td{
    text-align: center;
    background-color: rgb(224, 224, 224);
    color: rgb(65, 65, 65);
    border: 1px solid transparent;
}
main table tbody tr .stock{
    justify-content: center;
    display: flex;
}
main table tbody tr button{
    
}
main table tbody tr td{
    height: 100px;
    align-items: center;
}
main table tbody tr td img{
    height: 100px;
}
main table tbody tr td span{
    background-color: transparent;
}
main table tbody tr .stock{
    height: 106.4px;
    display: flex ;
    gap: 10px;
}
main table tbody tr .stock button{
    background-color: transparent;

}
